<div class="container">
  <div class="row">
    <div class="col-lg-12 px-5 mx-auto">
      
      <h2>About us</h2>
      
      <span>
        KakuuCafeは手作りの焼き菓子を提供する、<br>
        新宿にある小さなカフェです。<br>
        <br>
        近くに来た時、<br>
        手作りお菓子が食べたくなった時、<br>
        ちょっと休憩したくなった時など、<br>
        いつでもお越しください。<br>
        <br>
        〒000-0000<br>
        東京都新宿区0000<br>
        TEL：090-0000-0000<br>
        営業時間：10:30 ~ 18:00（LO. 17:30）<br>
        不定休（当店のSNSにてご確認ください）
      </span>
    </div>
  </div>
</div>