<div class="container">
  <div class="row">
    <div class="col-lg-10 px-5 mx-auto">

      <p class="col-md-6 h2 bg-white">About us</p>

      <div class="bg-white p-2 border-right border-bottom border-warning">
        <span>
          KakuuCafeは手作りの焼き菓子を提供する、
          新宿にある小さなカフェです。
          <br>
          近くに来た時、
          甘いものが食べたくなった時、
          ちょっと休憩したくなった時など、<br>
          いつでも気軽にお越しください。
          <br>
          飲み物とお菓子を用意してお待ちしております。
          <br><br>
          〒000-0000<br>
          東京都新宿区0000<br>
          TEL：090-0000-0000<br>
          営業時間：10:30 ~ 18:00（LO. 17:30）<br>
          不定休（当店のSNSにてご確認ください）
        </span>
      </div>
    </div>
  </div>
</div>