<div class="container">
  <div class="row">
    <div class="col-lg-12 px-5 mx-auto">
      
      <span>
        当サイトでは Kakuu Cafe の商品の<br>
        取り置き・テイクアウトの予約を承っております。<br>
        <br>
        最新情報は当店のSNSにて更新しておりますのでご確認ください。
      </span>
      
    </div>
  </div>
</div>