<div class="container">
  <div class="row">
    <div class="col-lg-10 px-5 mx-auto">

      <p class="col-lg-9 h1 bg-white border-bottom border-warning">Welcome to Kakuu Cafe !</p>

      <p class="col-lg-9 bg-white mt-5">
        当サイトでは Kakuu Cafe の商品の<br>
        取り置き・テイクアウトの予約を承っております。<br>
        <br>
        最新情報は当店のSNSにて更新しておりますのでご確認ください。
      </p>

    </div>
  </div>
</div>