<div class="container">
  <div class="row">
    <div class="col-lg-10 px-5 mx-auto text-center my-100">
      <p class="col-md-9 h2 bg-white mx-auto">ご予約を<br class="d-md-none">承りました</p>

      <div class="bg-white mt-5">
        <span>
          <strong>ご予約いただき<br class="d-md-none">ありがとうございます！<br></strong>
          営業時間内<br class="d-md-none">（10:30 ~ 18:00）のご来店<br class="d-md-none"> をお願いいたします。<br><br>
          ご予約の確認・変更・<br class="d-md-none">キャンセルは
          <%= link_to "マイページ", my_page_path %>
          から出来ます。<br>
        </span>
      </div>
  </div>
</div>