<div class="container">
  <div class="row">
    <div class="col-lg-12 px-5 mx-auto text-center">
      <h2>ご予約を承りました</h2>
      <span>
        ご予約いただきありがとうございます。<br>
        営業時間内（10:30 ~ 18:00）のご来店をお願いいたします。<br><br>
        ご予約の確認・変更・キャンセルは
        <%= link_to "マイページ", my_page_path %>
        から出来ます。<br>
      </span>
    </div>
  </div>
</div>